*
{
   margin: 0;
   padding:0;
}

body
{
   font: normal 13px verdana;
}

.MainBody
{
    max-width: 1004px;
    margin-left: auto;
    margin-right: auto;
    position: relative;   /*задан для отсчета координат от края родительского элемента (MainBody) для дочерних элементов */
}

.menuzone
{
   position: absolute; 
   left: 40px;
   height:100%;
   background-image: linear-gradient(to bottom, rgb(1,116,148) 0%, rgba(1,116,148, 0.9) 70%, rgba(1,116,148, 0.8) 100%);
   background: -webkit-gradient(linear, bottom, rgb(1,116,148) 0%, rgba(1,116,148, 0.9) 70%, rgba(1,116,148, 0.8) 100%);
   background: -moz-linear-gradient(top, rgb(1,116,148) 0%, rgba(1,116,148, 0.9) 70%, rgba(1,116,148, 0.8) 100%);
   background: -o-linear-gradient(top, rgb(1,116,148) 0%, rgba(1,116,148, 0.9) 70%, rgba(1,116,148, 0.8) 100%);
   background: -ms-linear-gradient(bottom, rgb(1,116,148) 0%, rgba(1,116,148, 0.9) 70%, rgba(1,116,148, 0.8) 100%);
   z-index: 998;   /*для вынесения элемента на передний план */
}

.light
{
   width:55%;
   position: absolute;
   right: 0;
   top: 0;
}

 .light img
 {
    max-width: 100%;
    background-repeat: no-repeat;
 }

.backgrBlue
{
    background-color: #1eade4;
    background: radial-gradient(circle at 77% 42%, #c7eae7 0%, #1eade4 50%); 
    background: -moz-radial-gradient(circle at 77% 42%, #c7eae7 0%, #1eade4 50%); 
    background: -webkit-radial-gradient(circle at 77% 42%, #c7eae7 0%, #1eade4 50%); 
    background: -o-radial-gradient(circle at 77% 42%, #c7eae7 0%, #1eade4 50%); 
    background: -ms-radial-gradient(circle at 77% 42%, #c7eae7 0%, #1eade4 50%); 
}

.header
{
    float: right;
    margin: 10px 15px 5px;
    position: relative;
}

.consult
{
    display: inline-block;
}

.consult p
{
    font-size: 12px;
    margin-right: 20px; 
}

.line1
{
    background: #017494;
    height: 3px;
    clear: both;
    position: relative;
}

.mainzone
{
    margin: 20px 20px 0px 262px;
    position: relative;
    display: inline-block;
}

.picture
{
   float: right;
   background-image: url(image/pictureMain.png);
   background-repeat: no-repeat;
   background-size: contain;    /*масштабируем изображение, т.к. оно не адаптировалось*/
    -webkit-background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    width: 400px;
    height: 280px;
}

.text
{
   color: white;
}

.text :first-child
{
   border-bottom: 2px solid rgb(255,255,255);
   overflow: hidden;
   padding-bottom: 9px;
}

.text p
{
   font-size: 14px;
   margin-top: 15px;
}

.part
{
   background-image: url(image/part.png);
   background-repeat: no-repeat;
   background-position: 0 2px; /* корректируем расположение элемента на странице */
   height: 58px;
}

.typemas 
{
   margin-left: 262px;
   clear:both;
   position: relative;
}

.tm
{
   width: 30%;
   margin: 3px;
   display: inline-block;
   vertical-align: top;
}

.tm *
{
   display: block;
   margin-left:auto;  /* размещаем все элементы класса tm автоматически ровно по центру блока-родителя */
   margin-right:auto;
}

.tm h3
{
   text-align:center;
   margin-top: 10px;
   margin-bottom: 10px;
}

.tm p
{
   text-align: justify;
   word-break: break-all;
   margin-top: 10px;
}

.tm div
{
   height:2px;
   background: white;  /*сделать блоки белого цвета, если браузером не поддерживается отображения градиентов*/
   background: linear-gradient(to left, #1eade4 0%,#d6fff5 50%,#1eade4 100%);
   background: -webkit-gradient(linear, left right, #1eade4 0%,#d6fff5 50%,#1eade4 100%);
   background: -moz-linear-gradient(left, #1eade4 0%,#d6fff5 50%,#1eade4 100%);
   background: -o-linear-gradient(left, #1eade4 0%,#d6fff5 50%,#1eade4 100%);
   background: -ms-linear-gradient(left, #1eade4 0%,#d6fff5 50%,#1eade4 100%);
}

.tm img
{
   width:90px;
   height: 90px;
}

.line2
{
   background: white;
   height: 3px;
   clear: both;
   margin-top: 5px;
   position: relative;
   z-index: 999;   /*для вынесения элемента на передний план, чтобы линия ложилась поверх навигационного меню (элемента menuzone) */
}

.futer
{
   padding: 5px 5px 5px 262px;
   background: rgba(1, 116, 149, 0.9);
}

.futer .tm
{
   vertical-align: middle;
   color: white;
   font-size: 11px;
}

.futer .tm p
{
   margin: 0;
}

.menuzone img
{
   margin: 0 3px;   
   display: block;
   margin: 10px 10px 55px 5px;
   width: 170px;
   height: 80px;
   position: relative;
}

.menu
{
   list-style-type: none;
   margin: 20px 20px;
}

.menu li
{
   margin-top: 20px;
}

.menu a
{
   font-size: 18px;
   color: white;
   text-decoration: none;
   display: block;
}

.menu a:hover
{
   text-decoration: underline;
}


@media screen and (max-width: 840px)
{

.MainBody
{
    max-width: 840px;
}

.header
{
    z-index: 999;
}

.consult
{
    display:block;
    margin-bottom: 7px;
}

.menuzone
{
    left: 0;
    top: 0;
    position: relative;
    background: inherit;
}

.menuzone img
{
   padding: 15px 20px;
   margin:0;
}

.menu
{
   margin: 0px;
   background: rgba(1, 116, 149, 0.6);
   text-align: center;
}

.menu li
{
   margin: 10px 10px;
   display: inline-block;
   border-right: 2px solid white;
   padding-left: 10px;
   padding-right: 20px;
   vertical-align: middle;
}

.menu :last-child
{
border: 0;
}

.light, .part, .typemas img, .tm div, .line2, .line1
{
   display: none; /*убираем элементы из потока*/
}

.backgrBlue
{
    background: #1eade4;
}

.mainzone
{
    margin:10px;
}

.picture
{
    width: 350px;
    height: 230px;
    margin-top: 40px;
}

.text :first-child
{
   border: 0;
   padding-bottom: 5px;
}

.typemas 
{
   background: #1eade4;
   margin-left: 0;
   padding: 20px 10px;
}

.tm
{
    width: 100%;
}

.tm h3
{
   text-align:left;
   color: white;
   margin: 0;
}

.typemas .tm p  
{
   text-align: left;
   margin-bottom: 10px;
   margin-top: 5px;
   word-break: normal;
}

.futer
{
    padding: 5px 7px;
}

.futer .tm     
{
   width: 30%;  /* для элементов класса tm в футере (в классе .futer) оставляем плавающую ширину*/
   margin: 3px;
}

}


@media screen and (max-width: 580px)
{

.MainBody
{
    max-width: 580px;
}

.picture
{
    display: none;
}

.menu li
{
   border: 0;
}

.futer .tm
{
   width: 100%;
   padding: 0;
   margin: 15px;
   display: block;
   vertical-align: middle;
}

.futer .tm p
{
   margin: 0;
}

}


@media screen and (max-width: 405px)
{

.MainBody
{
    min-width: 280px;
    font-size: 12px;
}

.header
{
    position: absolute;
    top: 100px;
    right: 0;
}

.menu
{
     margin-top:75px;
}

.menuzone img
{
    padding-left: 10%;
}

}